@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
html{
    margin: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background: rgb(121,228,159);
    background: linear-gradient(180deg, rgba(121,228,159,1) 0%, rgba(190,255,213,1) 93%, rgba(190,255,213,1) 100%);
    color: #044B25;
    overflow-x: hidden;
}
h1{
    font-size: 50px;
}
p{
    font-size: 25px;

}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #044B25 #beffd5;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 19px;
  }

  *::-webkit-scrollbar-track {
    background: #beffd5;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #044B25;
    border-radius: 10px;
    border: 4px solid #beffd5;
  }


  .nav-links {
    justify-content: right; 
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    font-size:25px;
    margin-right: 50px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: rgb(19, 67, 34);
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #37a96c;
  }
  
nav{
    padding: 2%;
    padding-bottom: 0;
    height: 50px;
} 
nav a, a:visited{
    color: #044B25;
    text-decoration: none;
    cursor: pointer;
}
nav a::after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: #044B25;
    transition: 300ms;
}
nav a, a:visited{
    color: #044B25;
    text-decoration: none;
    cursor: pointer;
}
nav a::after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: #044B25;
    transition: 300ms;
}

nav a{
    font-size: 30px;
    float:left;
}

nav a:hover::after {
    width: 100%;
}
nav a.nohover:hover::after{
    width: 0;
}
  /************************************************************/
  .resource-intro {
    padding-top: 100px;
    overflow: hidden;
  }

  .deposit-recycle{
    padding-top: 250px;
  }

 .regualar-recycle {
    padding-top: 100px;
  }

  .flexible-plastic {
    padding-top: 100px;
  }

  .resource-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: normal;
  }
  
  .resource-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .resource-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
  }

  

.second-section {
    padding: -300px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    min-height: 400px;
  }
  
  .second-text-section {
    text-align: center;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .second-img-section {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .second-mission-flex-section {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .second-mission-text-flex-section {
    text-align: center;
    padding: 0 10px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: right;
    order: 0;
  }
  
  .second-mission-img-flex-section {
    display: block;
    padding:0 10px;
    flex-grow: 0;
    flex-shrink: 1;
    align-self: left;
    order: 0;
  }
  
  .second-mission-img-flex-section img{
    height: 300px;
    align-items: left;
    padding-right: 100px;
    object-fit: cover;
    border-radius: 10px;
  }

  